node_modules
.vercel
.pnpm-debug.log
e-commerce/server/.env
e-commerce/server/.env.production
e-commerce/server/yarn-error.log
e-commerce/server/vendure.sqlite
e-commerce/server/vendure.sqlite-shm
e-commerce/server/vendure.sqlite-wal